<a href="https://colab.research.google.com/github/harunk1/BackJoon/blob/main/1%EC%B0%A8_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 개수 세기

In [ ]:
a = int(input())
b = list(map(int,input().split()))
c=int(input())
d=0
e=0
for i in range(a):
  e+=1
  if b[i]==c:
    d+=1
print(d)

5
1 2 3 1 1
1
3

###다른 방법

In [ ]:
N = int(input())
N_list = list(map(int, input().split()))
v = int(input())
print(N_list.count(v))

5
1 2 3 1 1
1
3

##X보다 작은 수

In [ ]:
N,X =  map(int, input().split())
a = list(map(int,input().split()))
i=0
while N>i:
  if X>a[i]:
    print(a[i],end=' ')
  i+=1

5 6
1 2 3 4 5 6
1 2 3 4 5

##최소 최대

In [ ]:
N = int(input())
a = list(map(int,input().split()))
print(min(a),max(a),end=' ')

5
20 10 35 30 7
7 35

##최댓값

In [12]:
arry=[]
for i in range(9):
  n=int(input())
  arry.insert(i,n)
m=max(arry)
print(m)
for i in range(9):
  if m==arry[i]:
    break
print(i+1)##index쓰면 간단함

3
29
38
12
57
74
40
85
61
85
8

###다른 방법

In [13]:
numbers = []
for _ in range(9):
    i = int(input())
    numbers.append(i)
    
print(max(numbers))
print(numbers.index(max(numbers))+1)

3
29
38
12
57
74
40
85
61
85
8

In [15]:
numbers = [int(input()) for _ in range(9)]

print(max(numbers))
print(numbers.index(max(numbers)) + 1)

3
29
38
12
57
74
40
85
61
85
8

##과제 안 내신 분..?

In [35]:
st = []
s =[]
for i in range(30):
  st.append(i+1)
for _ in range(28):
    n = int(input())
    s.append(n)
a = list(set(st) - set(s))
print(min(a))
print(max(a))

3
1
4
5
6
7
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

###다른 방법

In [ ]:
# 1부터 30까지의 리스트를 생성 
num = [i for i in range(1, 31)]

# 입력받은 숫자를 리스트에서 제거
for _ in range(28):
    data = int(input())
    num.remove(data)
print(min(num))
print(max(num))