<a href="https://colab.research.google.com/github/harunk1/BackJoon/blob/main/%EB%B0%98%EB%B3%B5%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

##구구단

In [ ]:
n=int(input())
a=0
while a<9:
  a+=1
  print(n, '*', a, '=', n*a)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

In [ ]:
n=int(input())
for i in range(1, 10):
  print(n, '*', i, '=', n*i)

5
5 * 1 = 5
5 * 2 = 10
5 * 3 = 15
5 * 4 = 20
5 * 5 = 25
5 * 6 = 30
5 * 7 = 35
5 * 8 = 40
5 * 9 = 45

##A+B -3

In [ ]:
T=int(input())
n=0
while T>n:
  n+=1
  a, b = map(int, input().split())
  print(a+b)

2
1 1
2
2 2
4

##합

In [ ]:
n=int(input())
b=0
for i in range(1,n+1):
  b+=i
print(b)

10
55

##영수증

In [3]:
X=int(input())
N=int(input())
n=0
add=0
while N>n:
  n+=1
  a, b = map(int, input().split())
  add=add+a*b
if add==X:
  print("Yes")
else :
  print("No")

260000
4
20000 5
30000 2
10000 6
5000 8
Yes

##빠른 A+B

> 단, 코랩이나 주피터노트북에서 sys.stdin.readline()가 동작하지 않는다.
검색해보니 스파이더도 안되는 듯 하다.
그러나 백준에선 '맞았습니다!!'라는 결과를 얻을 수 있다.

In [15]:
import sys
T=int(input())
n=0
while T>n:
  n+=1
  a, b = map(int, sys.stdin.readline().split())
  print(a+b)

## A+B -7

In [31]:
T=int(input())
n=0
while T>n:
  n+=1
  a, b = map(int, input().split())
  print("Case #%s: %s"%(n, a+b ))
  #print(f'Case #{n}: {a+b}') 다른 방법

1
1 1
Case #1: 2

## A+B -8

In [35]:
T=int(input())
n=0
while T>n:
  n+=1
  a, b = map(int, input().split())
  print("Case #%s: %s + %s = %s"%(n,a,b,a+b ))

2
2 6
Case #1: 2 + 6 = 8
4 3
Case #2: 4 + 3 = 7

##별 찍기 -1

In [67]:
T=int(input())
n=0
while T>n:
  n+=1
  print("*")
  a=0
  while n>a:
    a+=1
    print("*",end='')

5
*
*
*
**
*
***
*
****
*
*****