<a href="https://colab.research.google.com/github/harunk1/BackJoon/blob/main/%EC%A1%B0%EA%B1%B4%EB%AC%B8.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#두 수 비교하기

In [ ]:
a, b = map(int, input().split())
if a<b:
  print("<")
elif a>b:
  print(">")
elif a==b:
  print("==")

5 5
==

#시험 성적

In [ ]:
a= int(input())
if 90<=a:
  print("A")
elif 80<=a:
  print("B")
elif 70<=a:
  print("C")
elif 60<=a:
  print("D")
else :
  print("F")

60
D

#윤년

In [ ]:
a= int(input())
f= a%4
q= a%100
fq= a%400
if f==0 :
  if q!=0 or fq==0:
    print("1")
  else :
    print("0")
else :
  print("0")

2000
1

##쉬운 예시

삼항 연산자로 작성한 코드

In [ ]:
year = int(input())
print('1') if ((year%4 == 0)and(year%100 != 0)) or (year%400 == 0) else print('0')

1900
0

if - else 조건식

In [ ]:
year = int(input())
if ((year%4 == 0)and(year%100 != 0)) or (year%400 == 0):
    print('1')  # 윤년 조건식이 참인경우
else:
    print('0')  # 거짓인경우

2000
1

##사분면 고르기

In [ ]:
a= int(input())
b= int(input())
if a>0 and b>0 :
  print("1")
elif a<0 and b>0 :
  print("2")
elif a<0 and b<0 :
  print("3")
else :
  print("4")

12
5
1

#알람 시계

In [23]:
a, b = map(int, input().split())
if b-45>=0:
  print(a , b-45)
elif a==0 and b-45<0:
  c=b-45
  print(23 , 60+c)
else :
  c=b-45
  print(a-1 , 60+c)

0 30
23 45

#오븐 시계

In [52]:
##a, b= map(int, input().split())
##c=int(input())
a=23
b=48
c=80
d=c//60
f=c%60
if c>=60:
  if b+f>=60 and a<23:
    print(a+d+1 , b+f-60)
  elif b+f>=60 and a==23:
    print(0+d , b+f-60)
  else :
    print(a+d, b+f)
else :
  if b+c>60 and a<23:
    print(a+1, b+c-60)
  elif b+c>60 and a==23:
    print(0)

1 8