<a href="https://colab.research.google.com/github/harunk1/BackJoon/blob/main/%EB%8B%A8%EA%B3%84%EB%B3%84%EB%A1%9C%20%ED%92%80%EA%B8%B0/1%EC%B0%A8_%EB%B0%B0%EC%97%B4.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

## 개수 세기

In [ ]:
a = int(input())
b = list(map(int,input().split()))
c=int(input())
d=0
e=0
for i in range(a):
  e+=1
  if b[i]==c:
    d+=1
print(d)

5
1 2 3 1 1
1
3

###다른 방법

In [ ]:
N = int(input())
N_list = list(map(int, input().split()))
v = int(input())
print(N_list.count(v))

5
1 2 3 1 1
1
3

##X보다 작은 수

In [ ]:
N,X =  map(int, input().split())
a = list(map(int,input().split()))
i=0
while N>i:
  if X>a[i]:
    print(a[i],end=' ')
  i+=1

5 6
1 2 3 4 5 6
1 2 3 4 5

##최소 최대

In [ ]:
N = int(input())
a = list(map(int,input().split()))
print(min(a),max(a),end=' ')

5
20 10 35 30 7
7 35

##최댓값

In [ ]:
arry=[]
for i in range(9):
  n=int(input())
  arry.insert(i,n)
m=max(arry)
print(m)
for i in range(9):
  if m==arry[i]:
    break
print(i+1)##index쓰면 간단함

3
29
38
12
57
74
40
85
61
85
8

###다른 방법

In [ ]:
numbers = []
for _ in range(9):
    i = int(input())
    numbers.append(i)
    
print(max(numbers))
print(numbers.index(max(numbers))+1)

3
29
38
12
57
74
40
85
61
85
8

In [ ]:
numbers = [int(input()) for _ in range(9)]

print(max(numbers))
print(numbers.index(max(numbers)) + 1)

3
29
38
12
57
74
40
85
61
85
8

##과제 안 내신 분..?

In [ ]:
st = []
s =[]
for i in range(30):
  st.append(i+1)
for _ in range(28):
    n = int(input())
    s.append(n)
a = list(set(st) - set(s))
print(min(a))
print(max(a))

3
1
4
5
6
7
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
2
8

###다른 방법

In [ ]:
# 1부터 30까지의 리스트를 생성 
num = [i for i in range(1, 31)]

# 입력받은 숫자를 리스트에서 제거
for _ in range(28):
    data = int(input())
    num.remove(data)
print(min(num))
print(max(num))

##나머지

In [ ]:
arry=[]
for _ in range(10):
  num=int(input())
  arry.append(num%42)
print(len(set(arry)))

1
2
3
4
5
6
7
8
9
10
10

##평균

In [ ]:
import statistics

N = int(input())
score = list(map(int, input().split()))
m=max(score)
for i in range(N):
  score[i]=score[i]/m*100
mean=statistics.mean(score)
print(mean)

3
40 80 60
75.0

##OX퀴즈

In [82]:
N = int(input())
for a in range(N):
  ox = list(input())
  c=0
  s=0
  for i in range(len(ox)):
    if ox[i]=='O':
      c+=1
      s+=c
    else:
      c=0
  print(s)

5
OOXXOXXOOO
OOXXOOXXOO
OXOXOXOXOXOXOX
OOOOOOOOOO
OOOOXOOOOXOOOOX
30

In [75]:
n = int(input())

for _ in range(n):
    ox_list = list(input())
    score = 0  
    sum_score = 0  # 새로운 ox리스트를 입력 받으면 점수 합계를 리셋한다.
    for ox in ox_list:
        if ox == 'O':
            score += 1  # 'O'가 연속되면 점수가 1점씩 커진다.
            sum_score += score  # sum_score = sum_score + score
        else:
            score = 0
    print(sum_score)

1
OOXXOXXOOO
10

0
1
2
3
4
5
6
7
8
9